.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.night__city-pic {
    height: 80vh;
    width: 2500px;
    object-fit: cover;
    transition: 4s all linear;
}

.night__city-pic:hover {
    transform: translateX(-600px);
}